<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PoW Market — Proof of Work Market</title>
  <meta name="description" content="PoW Market is a real-time distributed computation market for magic numbers">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta name="apple-mobile-web-app-title" content="PoW Market">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/app.css?cb=14">
  <script src="https://kit.fontawesome.com/70f4902f50.js" crossorigin="anonymous"></script>
</head>
<body>

