{{> header}}

    <a id="add-magic" href="javascript:" onclick="toggleAddMagicNumber()"><i class="fas fa-magic"></i> &nbsp;Add Magic Number</a>

    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="title">{{dashboard.mined_num}}</p>
          <p class="heading">Magic Numbers Mined</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="title">${{dashboard.mined_earnings}}</p>
          <p class="heading">Earned</p>
        </div>
      </div>
      <div class="level-item has-text-centered is-hidden-mobile">
        <div>
          <p class="title">{{dashboard.unmined_num}}</p>
          <p class="heading">Pending Magic Numbers</p>
        </div>
      </div>
      <div class="level-item has-text-centered is-hidden-mobile">
        <div>
          <p class="title">${{dashboard.unmined_earnings}}</p>
          <p class="heading">Available</p>
        </div>
      </div>
    </nav>

    <div class="blockviz-wrapper" id="blockviz">
      <table class="blockviz">
        {{#blockviz}}
          <td class="segment">
            {{#.}}
            <a href="/{{txid}}" class="tx power-{{power}} mined-{{mined}}" style="height: {{power}}px"></a>
            {{/.}}
          </td>
        {{/blockviz}}
      </table>
      <a class="toggle" href="javascript:" onclick="toggleExtendedDisplay()">
        <i class="fas fa-expand-alt fa-flip-horizontal"></i>
      </a>
    </div>

    {{> unmined_table}}
    <p><a href="/unmined">Show all {{dashboard.unmined_num}} Pending Magic Numbers</a></p>

    <hr /><br />

    {{> mined_table}}
    <p><a href="/mined">Show all {{dashboard.mined_num}} Mined Magic Numbers</a></p>

    <hr /><br />
    {{> best}}

    <div class="modal" id="add-magic-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
         <section class="modal-card-body content">
             <h3><i class="fas fa-magic"></i> &nbsp;Add Magic Number</h3>
             <textarea onkeyup="handleKeyUp()" onchange="handleKeyUp()" onpaste="handleKeyUp()" id="content" name="content" placeholder="Content..."></textarea>
             <div class="hash-wrapper"><input onkeyup="handleHashKeyUp()" onchange="handleHashKeyUp()" onpaste="handleHashKeyUp()" id="hash" placeholder="sha256 hash" value="" type="text"></input></div>
             <input onkeyup="handleTargetKeyUp()" onchange="handleTargetKeyUp()" onpaste="handleTargetKeyUp()" type="text" class="target" id="target" name="target" value="21e8" placeholder="21e8" />
             &nbsp;<span class="dollar-sign">$</span><input onkeyup="handleMoneyKeyUp()" onchange="handleMoneyKeyUp()" onpaste="handleMoneyKeyUp()" type="text" id="price" class="price" name="price" value="0.0218" placeholder="0.0218" />
             <input type="button" value="Mine" onClick="handleFormSubmit()" />
             <span id="money-button-wrapper">
               <div class='money-button' id="money-button"></div>
             </span>
         </section>
      </div>

      <button onClick="toggleAddMagicNumber()" class="modal-close is-large" aria-label="close"></button>
    </div>


{{> footer}}

