{{> header}}

<script src="https://www.moneybutton.com/moneybutton.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/build/sha256.min.js"></script>
<script>

let content = "";
let hash = "";

function toggleExtendedDisplay() {
  document.getElementById("blockviz").classList.toggle("extended");
}

function toggleAddMagicNumber() {
  document.getElementById("add-magic-modal").classList.toggle("is-active");
}

function handleFormSubmit() {
  handleKeyUp();

  //console.log("CONTENT", content);
  let target = document.getElementById("target").value;
  let amount = document.getElementById("price").value;

  if (!content || !hash || !target || !amount) {
    alert("Error while submitting form...please check data");
    return;
  }

  const mb = document.getElementById("money-button");
  moneyButton.render(mb, {
    outputs: [{
      "script": `${hash} ${target} OP_SIZE OP_4 OP_PICK OP_SHA256 OP_SWAP OP_SPLIT OP_DROP OP_EQUALVERIFY OP_DROP OP_CHECKSIG`,
      "amount": amount,
      "currency": "USD",
    }],

    "onPayment": function(response) {
      console.log(response.txid);
      console.log("Successfully paid");

      document.getElementById("content").value = "";
      handleKeyUp();


    },
    "onError": function(e) {
      console.log("ERROR", e);
      alert("Error while sending proof-of-work request, please try again");
    },
  });

  mb.classList.add("is-active");

  return false;
}

function handleKeyUp() {
  content = document.getElementById("content").value;
  if (content) {
    hash = sha256(content);
  } else {
    hash = "";
  }

  document.getElementById("hash").innerHTML = hash;

  const mb = document.getElementById("money-button-wrapper");
  mb.innerHTML = "<div class='money-button' id='money-button'></div>";
}

</script>


<section class="section" id="app">
  <div class="container is-widescreen">
    <div class="content content-wrapper">
      <h1 class="title">PoW Market</h1>
      <p class="subtitle">A Marketplace for Magic Numbers</p>

      {{#21e8}}
        <a id="add-magic" href="javascript:" onclick="toggleAddMagicNumber()"><i class="fas fa-magic"></i> &nbsp;Add Magic Number</a>
      {{/21e8}}

      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="title">{{dashboard.mined_num}}</p>
            <p class="heading">Magic Numbers Mined</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title">${{dashboard.mined_earnings}}</p>
            <p class="heading">Earned</p>
          </div>
        </div>
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="title">{{dashboard.unmined_num}}</p>
            <p class="heading">Pending Magic Numbers</p>
          </div>
        </div>
        <div class="level-item has-text-centered is-hidden-mobile">
          <div>
            <p class="title">${{dashboard.unmined_earnings}}</p>
            <p class="heading">Available</p>
          </div>
        </div>
      </nav>

      <div class="blockviz-wrapper" id="blockviz">
        <table class="blockviz">
          {{#blockviz}}
            <td class="segment">
              {{#.}}
              <a href="https://whatsonchain.com/tx/{{txid}}" class="tx power-{{power}} mined-{{mined}}" style="height: {{power}}px"></a>
              {{/.}}
            </td>
          {{/blockviz}}
        </table>
        <a class="toggle" href="javascript:" onclick="toggleExtendedDisplay()">
          <i class="fas fa-expand-alt fa-flip-horizontal"></i>
        </a>
      </div>

      {{> unmined_table}}
      <p><a href="/unmined">Show all {{dashboard.unmined_num}} Pending Magic Numbers</a></p>

      <hr /><br />

      {{> mined_table}}
      <p><a href="/mined">Show all {{dashboard.mined_num}} Mined Magic Numbers</a></p>

      {{#21e8}}
        <div class="modal" id="add-magic-modal">
          <div class="modal-background"></div>
          <div class="modal-card">
             <section class="modal-card-body content">
                 <h3><i class="fas fa-magic"></i> &nbsp;Add Magic Number</h3>
                 <textarea onkeyup="handleKeyUp()" onchange="handleKeyUp()" onpaste="handleKeyUp()" id="content" name="content" placeholder="Enter content"></textarea>
                 <div class="hash-wrapper"><span id="hash"></span></div>
                 <input onkeyup="handleKeyUp()" onchange="handleKeyUp()" onpaste="handleKeyUp()" type="text" class="target" id="target" name="target" value="21e8" placeholder="21e8" />
                 &nbsp;<span class="dollar-sign">$</span><input onkeyup="handleKeyUp()" onchange="handleKeyUp()" onpaste="handleKeyUp()" type="text" id="price" class="price" name="price" value="0.0218" placeholder="0.0218" />
                 <input type="button" value="Mine" onClick="handleFormSubmit()" />
                 <span id="money-button-wrapper">
                   <div class='money-button' id="money-button"></div>
                 </span>
             </section>
          </div>

          <button onClick="toggleAddMagicNumber()" class="modal-close is-large" aria-label="close"></button>
        {{/21e8}}
      </div>

      {{> bumper}}
    </div>
  </div>
</section>

{{> footer}}

