<h2 class="title">{{dashboard.mined_num}} Magic Numbers Mined</h2>
<p>There have been {{dashboard.mined_num}} Magic Numbers mined for ${{dashboard.mined_earnings}}, here are the most recent ones:</p>

<div class="table-container">
  <table class="table">
      <tr>
        <th class="created">mined</th>
        <th class="reward">reward</th>
        <th class="target">target</th>
        <th class="magicnumber">magic number</th>
        <th class="hash">hash</th>
        <th class="txid">txid</th>
        <th class="mined_txid">mined txid</th>
      </tr>

    {{#mined}}
      <tr>
        <td class="created">{{display_mined_date}}</td>
        <td class="reward">${{display_value}}</td>
        <td class="target">
          <a href="/target/{{target}}">{{display_target}}</a>
          {{#emoji}}<a href="/target/{{target}}" style="text-decoration: none"><small>{{emoji}}</small></a>{{/emoji}}
        </td>
        <td class="magicnumber"><a class="highlight" href="/magicnumber/{{magicnumber}}">{{magicnumber}}</a></td>
        <td class="hash short mono"><a href="/hash/{{hash}}">{{hash}}</a></td>
        <td class="txid"><a href="/txid/{{txid}}">{{txid}}</a></td>
        <td class="txid mined_txid"><a href="/mined/{{mined_txid}}">{{mined_txid}}</a></td>
      </tr>
    {{/mined}}
    {{#show_more}}
      <tr>
        <td colspan="7">
          <a href="?offset={{next_offset}}&limit={{limit}}">Show More</a>
        </td>
      </tr>
    {{/show_more}}
  </table>
</div>
