<h2 class="title">{{dashboard.mined_num}} Magic Numbers Mined</h2>
<p>There have been {{dashboard.mined_num}} Magic Numbers mined for ${{dashboard.mined_earnings}}, here are the most recent ones:</p>

<div class="table-container">
  <table class="table">
      <tr>
        <th class="created">mined</th>
        <th class="reward">reward</th>
        <th class="target">target</th>
        <th class="magicnumber">magic number</th>
        <th class="hash">hash</th>
        <th class="txid">txid</th>
        <th class="mined_txid">mined txid</th>
      </tr>

    {{#mined}}
      <tr>
        <td class="created">{{display_mined_date}}</td>
        <td class="reward">${{display_value}}</td>
        <td class="target">
          <a href="/{{magicnumber}}">{{display_magicnumber}}</a>
          <a href="/{{magicnumber}}">{{#emoji}}<small>{{emoji}}</small>{{/emoji}}</a>
        </td>
        <td class="magicnumber"><a class="highlight" href="/{{mined_number}}">{{mined_number}}</a></td>
        <td class="hash short mono"><a href="/{{target}}">{{target}}</a></td>
        <td class="txid"><a href="/{{txid}}">{{txid}}</a></td>
        <td class="txid mined_txid"><a href="/{{mined_txid}}">{{mined_txid}}</a></td>
      </tr>
    {{/mined}}
  </table>
</div>
