{{> header}}
  <br />

  <h2 style="white-space: nowrap;">{{type}}: {{ header }}</h2>
  <table class="table">
    <tbody>
      <tr>
        <td colspan="2" class="mined-{{mined}}">
          {{#mined}}
            <span class="icon has-text-white"><i class="fas fa-check-circle"></i></span>
            Mined
          {{/mined}}
          {{^mined}}
            Pending
          {{/mined}}
        </th>
      </tr>
      </tr>
      {{#mined}}
      <tr>
        <th class="feature-label">Magic Number</th>
        <td><a class="highlight mono" href="/magicnumber/{{magicnumber}}">{{magicnumber}}</a></td>
      </tr>
      {{/mined}}
      <tr>
        <th class="feature-label">Hash</th>
        <td><a class="mono" href="/hash/{{hash}}">{{hash}}</a></td>
      </tr>
      <tr>
        <th class="feature-label">Target</th>
        <td>
          <a class="mono" href="/target/{{target}}">{{target}}</a>
          {{#emoji}}<a href="/target/{{target}}" style="text-decoration: none"><small>{{emoji}}</small></a>{{/emoji}}
        </td>
      </tr>
      {{#display_network}}
      <tr>
        <th class="feature-label">Network</th>
        <td><a href="{{display_link}}">{{display_network}}</a></td>
      </tr>
      {{/display_network}}
      {{#content_type}}
      <tr>
        <th class="feature-label">Content</th>
        <td><a href="https://bit.sv/post/{{txid}}">Visit Content</a></td>
      </tr>
      {{/content_type}}
      {{#mined}}
      <tr>
        <th class="feature-label">Power</th>
          <td>{{display_power}}</td>
      </tr>
      {{/mined}}
      <tr>
        <th class="feature-label">Value</th>
        <td>${{display_value}} ({{value}} satoshis)</td>
      </tr>
      <tr>
        <th class="feature-label">TXID</th>
        <td><a class="mono" href="/txid/{{txid}}">{{txid}}</a>
          <a href="https://whatsonchain.com/tx/{{txid}}" style="text-decoration: none;" target="_blank">
            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
          </a>
        </td>
      </tr>
      {{#mined}}
      <tr>
        <th class="feature-label">Mined</th>
        <td>
            <a class="mono" href="/mined/{{mined_txid}}">{{mined_txid}}</a>
            <a href="https://whatsonchain.com/tx/{{mined_txid}}" style="text-decoration: none;" target="_blank">
              <span class="icon"><i class="fas fa-external-link-alt"></i></span>
            </a>
        </td>
      </tr>
      {{/mined}}
      {{#mined_in}}
      <tr>
        <th class="feature-label">Mined In</th>
        <td>
          {{#mined_in}}{{mined_in}}{{/mined_in}}
        </td>
      </tr>
      {{/mined_in}}
    </tbody>
  </table>

  {{#txs.length}}
    <h2>References</h2>
    {{> txs_table}}
  {{/txs.length}}

{{> footer}} 
