
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>created at</th>
        <th>target</th>
        <th>hash</th>
        <th>magic number</th>
        <th>txid</th>
      </tr>
    </thead>
    <tbody>
      {{#txs}}
        <tr>
          <td class="created">{{display_date}}</td>
          <td style="white-space: nowrap">
            <a class="mono" href="/target/{{target}}">{{ display_target }}</a>
            {{#emoji}}<a href="/target/{{target}}" style="text-decoration: none"><small>{{emoji}}</small></a>{{/emoji}}
          </td>
          <td><a class="mono" href="/hash/{{hash}}">{{ hash }}</a></td>
          <td>
              {{#magicnumber}}
                <a class="mono highlighted" href="/magicnumber/{{magicnumber}}">{{ magicnumber }}</a>
              {{/magicnumber}}
              {{^magicnumber}}
                pending...
              {{/magicnumber}}
            </td>
          <td><a class="mono" href="/txid/{{txid}}">{{ txid }}</a></td>
        </tr>
      {{/txs}}
      {{#show_more}}
        <tr>
          <td colspan="4">
            <a href="?offset={{next_offset}}&limit={{limit}}">Show More</a>
          </td>
        </tr>
      {{/show_more}}
    </tbody>
  </table>
</div>
