<h2 class="title">{{dashboard.unmined_num}} Pending Magic Numbers</h2>
<p>There are {{dashboard.unmined_num}} Pending Magic Numbers worth ${{dashboard.unmined_earnings}}, grab <a href="https://github.com/deanmlittle/21e8miner">21e8miner</a> and start mining!</p>
<div class="table-container">
  <table class="table">
      <thead>
        <tr>
          <th class="created">created</th>
          <th class="reward">reward</th>
          <th class="target">target</th>
          <th class="txid">txid</th>
         <th class="txid">hash</th>
        </tr>
      </thead>

      <tbody>
      {{#unmined}}
        <tr>
          <td class="created">{{display_date}}</td>
          <td class="reward">${{display_value}}</td>
          <td class="target">
            <a href="/target/{{target}}">{{display_target}}</a>
            {{#emoji}}<a href="/target/{{target}}" style="text-decoration: none"><small>{{emoji}}</small></a>{{/emoji}}
          </td>
          <td class="txid"><a href="/txid/{{txid}}">{{txid}}</a></td>
          <td class="txid"><a href="/hash/{{hash}}">{{hash}}</a></td>
        </tr>
      {{/unmined}}
      {{#show_more}}
        <tr>
          <td colspan="5">
            <a href="?offset={{next_offset}}&limit={{limit}}">Show More</a>
          </td>
        </tr>
      {{/show_more}}
      </tbody>
  </table>
</div>
